<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/user/setting">設定</a></li>
    <li class="breadcrumb-item"><a href="/admin">管理者メニュー</a></li>
    <li class="breadcrumb-item active">メンテナンス</li>
  </ol>
</nav>
<h2 style="text-align: center;">メンテナンス</h2>
<table class="table">
  <tr>
    <th>一覧</th>
  </tr>
  <tr>
    <td><a href='/admin/setting/done?type=yomi_update'>ふりがな更新</a></td>
  </tr>
</table>