<h2 style="text-align: center;">管理者メニュー</h2>
<table class="table">
  <tr>
    <th>メニュー</th>
  </tr>
  <tr>
    <td><a href='/admin/setting'>メンテナンス</a></td>
  </tr>
  <tr>
    <td><a href='/admin/status'>ステータス</a></td>
  </tr>
  <tr>
    <td><a href='/admin/user'>ユーザー一覧</a></td>
  </tr>
  <tr>
    <td><a href='/admin/book'>登録書籍一覧</a></td>
  </tr>
  <tr>
    <td><a href='/admin/author'>著者一覧</a></td>
  </tr>
  <tr>
    <td><a href='/admin/circle'>サークル一覧</a></td>
  </tr>
  <tr>
    <td><a href='/admin/genre'>ジャンル一覧</a></td>
  </tr>
  <tr>
    <td><a href='/admin/event'>イベント一覧</a></td>
  </tr>
  <tr>
    <td><a href='/admin/tag'>タグ一覧</a></td>
  </tr>
</table>