<h2 style="text-align: center;">管理者メニュー</h2>
<table class="table">
  <tr>
    <th>メニュー</th>
  </tr>
  <tr>
    <td><a href='/admin/setting'>設定</a></td>
  </tr>
  <tr>
    <td><a href='/admin/status'>ステータス</a></td>
  </tr>
  <tr>
    <td><a href='/admin/users'>ユーザー一覧</a></td>
  </tr>
  <tr>
    <td><a href='/admin/books'>登録書籍一覧</a></td>
  </tr>
  <tr>
    <td><a href='/admin/authors'>著者一覧</a></td>
  </tr>
  <tr>
    <td><a href='/admin/circles'>サークル一覧</a></td>
  </tr>
  <tr>
    <td><a href='/admin/genres'>ジャンル一覧</a></td>
  </tr>
  <tr>
    <td><a href='/admin/events'>イベント一覧</a></td>
  </tr>
</table>