<h2 style="text-align: center;">書籍追加</h2>
<p>新しく追加する書籍のタイトルを入力してください。</p>
<form action="/add/book/detail" method="POST">
  <div class="form-group row">
    <label for="title" class="col-sm-2 col-form-label">タイトル：</label>
    <div class="col-sm-10">
      <input type="text" id="title" name="title" class="form-control" required>
    </div>
  </div>
  <input type="submit" class="btn btn-primary" value="決定"/>
</form>