<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kotori</title>
    <!-- CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- JS -->
    <script src="/js/bootstrap.min.js"></script>
  </head>
  <body style="padding-top: 90px;">
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">Kotori</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#link-list" aria-controls="link-list" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="link-list">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/help">Info/Help</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/marron-akanishi/kotori" target="_blank">GitHub</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>