<div class="jumbotron">
  <h1>Kotori</h1>
  <p class="lead">
    Kotoriは自分が所有している同人誌を管理するためのサイトです。<br>
    Googleアカウントがあれば、誰でも利用可能です。<br>
    詳細はメニューの「Help」をご確認ください。
  </p>
  <hr class="my-4">
  <div style="text-align: center;">
    <form method='post' action='/auth/google_oauth2'>
      <input type="hidden" name="authenticity_token" value='<%= request.env["rack.session"]["csrf"] %>'>
      <button class="btn btn-link" type='submit' style="padding: 0">
        <img src="/images/signin.png" width="300px" />
      </button>
    </form>
  </div>
</div>