<div class="jumbotron">
  <h1>Kotori</h1>
  <p class="lead">
    Kotoriは自分が所持している同人誌を管理するためのサイトです。<br>
    Googleアカウントがあれば、誰でも利用可能です。<br>
    詳細はメニューの「Help」をご確認ください。
  </p>
  <hr class="my-4">
  <div style="text-align: center;">
    <img src="/images/signin.png" onclick="location.href='/auth/google_oauth2'" width="300px" style="cursor: pointer;" />
  </div>
</div>