<div class="alert alert-dismissible alert-info">
  ようこそ、<%= @name %>さん
</div>
<span style="font-size: 2rem;">書籍一覧</span>
<button type="button" class="btn btn-success" onclick="location.href='/add/title'" style="display: block;">
  ＋ 追加
</button>
<br>
<% @list.each do |book| %>
<div class="col d-inline">
  <button onclick="location.href='/detail/<%= book.id %>'" class="btn btn-link thum">
    <img src="/images/cover/<%= book.cover %>" />
    <p style="color: black;"><%= book.title %></p>
  </button>
</div>
<% end %>