<h2 style="text-align: center;"><%= @type_name %>一覧</h2>
<table id="list" class="table">
  <tr><th>名前</th></tr>
</table>

<script>
  $(function () {
      $.getJSON("/api/get_list?type=<%= @type %>", function(list){
        for (var i in list) {
          <% if @type == "book" %>
          $("#list").append(`<tr><td><a href='/detail/book/${list[i].id}?from=list'>${list[i].title}</td></tr>`)
          <% else %>
          $("#list").append("<tr><td>" + list[i].name + "</td></tr>")
          <% end %>
        }
      });
    });
</script>