<% if @user.is_admin %>
<div style="float: right;">
  <button type="button" class="btn btn-outline-danger" onclick="location.href='/admin'">管理者メニュー</button>
</div>
<% end %>
<script>document.title = "設定 - Kotori"</script>
<h2 style="text-align: center;">設定</h2>
<div class="d-none d-md-block">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="basic-tab" data-toggle="tab" href="#basic" role="tab" aria-controls="basic"
        aria-selected="true">基本情報</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="book-tab" data-toggle="tab" href="#book" role="tab" aria-controls="book"
        aria-selected="false">書籍管理</a>
    </li>
  </ul>
</div>
<div class="tab-content">
  <div class="tab-pane show active mt-2" id="basic" role="tabpanel" aria-labelledby="basic-tab">
    <p style="margin-top: 1rem;">登録メールアドレス：<%= @user.mail %></p>
    <hr>
    <form action="/user/setting/done" method="POST">
      <div class="form-group row">
        <label for="dispName" class="col-sm-1 col-form-label">表示名：</label>
        <div class="col-sm-5">
          <input type="text" id="dispName" name="dispName" class="form-control" value="<%= @user.name %>" required>
        </div>
      </div>
      <hr>
      <div class="custom-control custom-checkbox">
        <% if @user.is_adult %>
        <input type="checkbox" class="custom-control-input" id="is-adult" name="is-adult" value="true" checked>
        <% else %>
        <input type="checkbox" class="custom-control-input" id="is-adult" name="is-adult" value="true">
        <% end %>
        <label class="custom-control-label" for="is-adult" style="color: red;">18禁アイテムを表示する</label>
        <span class="form-text text-muted">
          このチェックを解除すると各ページの書籍一覧で18禁アイテムが表示されなくなります。<br>
          所有書籍一覧には影響しません。
        </span>
      </div>
      <hr>
      <div class="d-flex justify-content-center">
        <input type="submit" class="btn btn-primary" value="保存" />
      </div>
    </form>
  </div>
  <div class="tab-pane mt-2" id="book" role="tabpanel" aria-labelledby="book-tab">
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
              aria-expanded="false" aria-controls="collapseOne">
              書籍の一括インポート(URL版)
            </button>
          </h2>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            この機能では対応サイトのURLを一覧にしたCSVファイルをインポートすることで書籍の一括登録が出来ます。<br>
            同じ名前の書籍がDB上に存在した場合はスキップされます。
            <div class="form-group row">
              <div class="custom-file col-sm-6" style="margin: 0 1rem">
                <input type="file" class="custom-file-input" id="urllist" name="urllist" accept=".csv">
                <label class="custom-file-label" for="urllist">ファイルを選択</label>
              </div>
              <button type="button" class="btn btn-primary" onclick="url_list_add()">インポート</button>
            </div>
            <table id="urladd-status" class="table"></table>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
              aria-expanded="false" aria-controls="collapseTwo">
              書籍の一括インポート(テキスト版)
            </button>
          </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            この機能では指定形式のテキストデータから書籍を一括登録します。
            <div class="form-group row">
              <div class="custom-file col-sm-6" style="margin: 0 1rem">
                <input type="file" class="custom-file-input" id="import-file" name="import-file">
                <label class="custom-file-label" for="import-file">ファイルを選択</label>
              </div>
              <button type="button" class="btn btn-primary" disabled>インポート</button>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
              aria-expanded="false" aria-controls="collapseThree">
              書籍情報のエクスポート
            </button>
          </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            この機能では所有書籍を一覧で出力します。<br>
            <button type="button" class="btn btn-primary" disabled>エクスポート</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/user_setting.js?ver=<%= $version %>"></script>