<% if @user.is_admin %>
<div style="float: right;">
  <button type="button" class="btn btn-outline-danger" onclick="location.href='/admin'">管理者メニュー</button>
</div>
<% end %>
<script>document.title = "設定 - Kotori"</script>
<h2 style="text-align: center;">設定</h2>
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="basic-tab" data-toggle="tab" href="#basic" role="tab" aria-controls="basic"
      aria-selected="true">基本情報</a>
  </li>
  <li class="nav-item sm-hidden">
    <a class="nav-link" id="book-tab" data-toggle="tab" href="#book" role="tab" aria-controls="book"
      aria-selected="false">書籍管理</a>
  </li>
  <li class="nav-item sm-hidden">
    <a class="nav-link" id="tag-tab" data-toggle="tab" href="#tag" role="tab" aria-controls="tag"
      aria-selected="false">タグ管理</a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane show active mt-2" id="basic" role="tabpanel" aria-labelledby="basic-tab">
    <p style="margin-top: 1rem;">登録メールアドレス：<%= @user.mail %></p>
    <hr>
    <div class="form-group row">
      <label for="apiKey" class="col-sm-2 col-form-label">APIキー：</label>
      <div class="col-sm-5">
        <div class="input-group">
          <input type="text" id="apiKey" name="apiKey" class="form-control" value="<%= @user.api %>" readonly>
          <div class="input-group-append">
            <button type="button" class="btn btn-secondary" onclick="apiCopy()"><span class="oi oi-clipboard"></span></button>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-primary sm-hidden" onclick="api_key_update()">更新</button>
      <div id="api-msg" class="ml-2 mt-2"></div>
    </div>
    <hr>
    <form action="/user/setting/done" method="POST">
      <div class="form-group row">
        <label for="dispName" class="col-sm-2 col-form-label">表示名：</label>
        <div class="col-sm-5">
          <input type="text" id="dispName" name="dispName" class="form-control" value="<%= @user.name %>" required>
        </div>
      </div>
      <hr>
      <div class="custom-control custom-checkbox">
        <% if @user.is_adult %>
        <input type="checkbox" class="custom-control-input" id="is-adult" name="is-adult" value="true" checked>
        <% else %>
        <input type="checkbox" class="custom-control-input" id="is-adult" name="is-adult" value="true">
        <% end %>
        <label class="custom-control-label" for="is-adult" style="color: red;">18禁アイテムを表示する</label>
        <span class="form-text text-muted">
          有効にすると各ページの書籍一覧で18禁アイテムが表示されます。<br>
          所有書籍一覧には影響しません。
        </span>
      </div>
      <hr>
      <div class="d-flex justify-content-center">
        <input type="submit" class="btn btn-primary" value="保存" />
      </div>
    </form>
  </div>
  <div class="tab-pane mt-2" id="book" role="tabpanel" aria-labelledby="book-tab">
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
              aria-expanded="false" aria-controls="collapseOne">
              書籍の一括インポート(URL版)
            </button>
          </h2>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            この機能では対応サイトのURLを一覧にしたCSVファイルをインポートすることで書籍の一括登録が出来ます。<br>
            同じ名前の書籍がDB上に存在した場合はスキップされます。
            <div class="form-group row mt-1">
              <div class="custom-file col-sm-6" style="margin: 0 1rem">
                <input type="file" class="custom-file-input" id="urllist" name="urllist" accept=".csv">
                <label class="custom-file-label" for="urllist">ファイルを選択</label>
              </div>
              <button type="button" class="btn btn-primary" onclick="url_list_add()">インポート</button>
            </div>
            CSVファイルを利用せずに下のフォームを使っても一括追加が出来ます。
            <div id="list-form" class="mt-1">
              <div data-idx="0" class="form-row">
                <div id="site-name" class="col-2">
                  <select id="site-sel" class="form-control">
                    <option value="melon" selected>メロンブックス</option>
                    <option value="tora">とらのあな</option>
                    <option value="lashin">らしんばん</option>
                  </select>
                </div>
                <div id="url-input" class="col">
                  <input id="site-url" class="form-control form-inline" placeholder="URL">
                </div>
                <div id="import-status" class="col-1 mt-2 ml-1">
                  待ち
                </div>
              </div>
            </div>
            <div class="float-right mt-1">
              <button id="form-add" class="btn btn-outline-dark">＋</button>
              <button id="form-del" class="btn btn-outline-danger">ー</button>
              <button id="form-clear" class="btn btn-outline-warning">クリア</button>
              <button id="form-done" class="btn btn-primary">インポート</button>
            </div>
            <table id="urladd-status" class="table"></table>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
              aria-expanded="false" aria-controls="collapseTwo">
              書籍の一括インポート(テキスト版)
            </button>
          </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            この機能では指定形式のテキストデータから書籍を一括登録します。
            <div class="form-group row">
              <div class="custom-file col-sm-6" style="margin: 0 1rem">
                <input type="file" class="custom-file-input" id="import-file" name="import-file">
                <label class="custom-file-label" for="import-file">ファイルを選択</label>
              </div>
              <button type="button" class="btn btn-primary" disabled>インポート</button>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
              aria-expanded="false" aria-controls="collapseThree">
              書籍情報のエクスポート
            </button>
          </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            この機能では所有書籍情報をCSVファイルで出力します。<br>
            <button id="export-btn" type="button" class="btn btn-primary">エクスポート</button>
            <a style="display:none;" id="download-link" href="#"></a>
            <br>
            出力するファイルには以下のような条件が付きます。<br>
            <ul>
              <li>表紙画像情報は含まれません。</li>
              <li>著者はメインの1人のみ出力されます。</li>
              <li>タグ、ジャンルは含まれません。</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane mt-2" id="tag" role="tabpanel" aria-labelledby="tag-tab">
    <div>個人管理用タグの名前を変更出来ます</div>
    <table class="mt-2">
      <tr>
        <td><svg class="mr-2" width="20" height="20"><circle fill="red" cx="10" cy="10" r="10"/></svg></td>
        <td><input type="text" class="form-control tag-name" value="あか"></td>
      </tr>
      <tr>
        <td><svg class="mr-2" width="20" height="20"><circle fill="orange" cx="10" cy="10" r="10"/></svg></td>
        <td><input type="text" class="form-control tag-name" value="おれんじ"></td>
      </tr>
      <tr>
        <td><svg class="mr-2" width="20" height="20"><circle fill="green" cx="10" cy="10" r="10"/></svg></td>
        <td><input type="text" class="form-control tag-name" value="みどり"></td>
      </tr>
      <tr>
        <td><svg class="mr-2" width="20" height="20"><circle fill="blue" cx="10" cy="10" r="10"/></svg></td>
        <td><input type="text" class="form-control tag-name" value="あお"></td>
      </tr>
      <tr>
        <td><svg class="mr-2" width="20" height="20"><circle fill="purple" cx="10" cy="10" r="10"/></svg></td>
        <td><input type="text" class="form-control tag-name" value="むらさき"></td>
      </tr>
      <tr>
        <td><svg class="mr-2" width="20" height="20"><circle fill="gray" cx="10" cy="10" r="10"/></svg></td>
        <td><input type="text" class="form-control tag-name" value="ぐれー"></td>
      </tr>
    </table>
    <hr>
    <div class="d-flex justify-content-center">
        <input type="submit" class="btn btn-primary" value="保存" />
      </div>
  </div>
</div>

<script src="/js/Nobeer.js"></script>
<script src="/js/user_setting.js?ver=<%= $version %>"></script>