/* 全体 */
.markdown-body img {
  margin: 0.5rem 0;
  border: solid thin;
}

body {
  padding-top: 65px;
}

.navbar {
  padding: 0.5rem 1rem;
  background-color: #18bc9c;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

hr {
  border: 0.5px dashed #aaaaaa;
}

/* 所有書籍一覧 */
.cover {
  position: relative;
  margin: 0 .25rem .5rem 0;
}

.cover img {
  height: 200px;
  cursor: pointer;
}

.cover p {
  position: absolute;
  top: 100%;
  transform: translate(0%,-100%);
  margin: 0;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  line-height: 1;
  padding: 5px 10px;
  word-break: break-all;
}

.form-inline select{
  width: auto !important;
}

.form-inline label{
  margin-bottom: 0 !important;
}

/* 登録画面 */
.exists {
  display: inline-block;
  margin-bottom: 1rem;
}

.exists:hover {
  background: #dddddd;
}

.ui-autocomplete {
  max-height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 5px;
}

#input-error {
  color: red;
  text-align: center;
  display: none;
}

/* 設定 */
.tab-content .card-header {
  padding: .25rem .5rem;
}

/* 書籍詳細画面 */
.row-name {
  width: 150px;
}